.projects {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.projects > li:nth-child(odd) {
  display: flex;
  gap: 10px;

  & > div {
    flex: 1;
  }
}

.projects > li:nth-child(even) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  & > .infoContainer {
    grid-area: 1 / 2 / 2 / 3;
  }

  & > .imageContainer {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.imageContainer {
  display: flex;
  align-items: center;

  & > img {
    width: 100%;
    height: auto;
  }
}
