.projectInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projectInfo > h3 {
  margin: 0;
  text-align: center;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  justify-content: center;
  gap: 10px;

  & > li {
    display: flex;
    justify-content: center;
  }

  & > li > img {
    width: 50px;
    height: 50px;
  }
}

.projectInfo > p {
  margin: 0;
  text-align: center;
}
